@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}


<div class="alert alert-primary col-12 text-center" style="display: inline-block;" role="alert">
    Simple sample for Data Annotations
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
