@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}



<div class="text-center mt-5">
    <div class="h-100 p-5 text-white bg-success rounded-3 shadow-lg">
        <h2>Simple sample for Data Annotations</h2>
        <p>See ValidationSample.Models.Movie <strong>annotations</strong> and ValidationSample.Validation code for validation <strong>attributes</strong>.</p>
    </div>

</div>
